body{
  background-image: url("./bc.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




.protest-strike-regular {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}




.header{
  background-color: #333;
  margin: -10px -10px -10px -10px;
  color: #fff;
  display: flex;

  align-items: center;
}

.header a{
  margin-left: 100px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}



.header a:hover{
  border-bottom: 5px solid red;
  transition: 0.3s;
}

.header button{
background-color: red;
  border-radius: 5px;
  border: 3px solid white;
  font-size: 24px;
  margin-left: 700px;
}

.landing-page{
  background-color: #333;
  margin: -10px -10px -10px -10px;
  display: flex;
  border-bottom-left-radius:40px;
  border-bottom-right-radius:40px;
  padding: 10px 50px 50px 50px;
  align-items: center;
  color: #f5f524;

  
}


.landing-page img{
  margin-right: 50px;
  border-radius: 25px;
 
  margin-top: 40px;
  border-bottom-left-radius:40px ;
  border-bottom-right-radius:40px ;

}

landing-p{
 padding: 100px;
}

.search-landing{
  position: absolute;
  margin-top: -40px;
  
}

.search-landing input{
  margin-top: 100px;
  height: 60px;
  width: 400px;
  border-radius: 30px;
  padding-left: 15px;
}

.search-landing button{
  height: 57px;
  width: 100px;
  border-radius: 30px;
  background-color: #333;
  color: white;
  border: 3px solid white;
  margin-left: -56px
}

 .top-main-content {
  display: flex;
   justify-content: space-between;
   color: white;
   
   margin-top: 270px;
  
   margin-right: 100px;
  }

.top-main-content h1{
  margin-top: 0px;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main-content h4 span{
  margin-top: -55px;
  position: absolute;
   
   margin-right: 100px;
  color: red;
}
.top-main-content button{
  background-color: red;
  border-radius: 10px;
  height: 45px;
  padding-top: 0px;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  border:3px solid white ;
}

.main-content{
  margin-left: 100px;
}




.ff-imgs{
  border-radius: 15px;
  display: flex;
  flex-wrap:wrap ;
  justify-content: flex-start;
  column-gap: 0.5em;
  background-color: rgba(0, 0, 0, 0.3); /* لون أبيض مع شفافية */


  gap: 200px;
border: 3px solid white;
  color: white;
  margin-top: 60px;
  border-radius: 15px;
  height: auto;
  margin-right: 66px;
  
}


.ff-imgs img{
  border-radius: 15px;
  border-bottom-left-radius:0px ;
  border-bottom-right-radius:0px ;

}

.ff1{
  border: solid 5px white;
  height: auto;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 200px;
}


.ff2{
  border: solid 5px white;
  height: auto;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: px;
}


.ff3{
  border: solid 5px white;
  height: auto;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: px;
}


.ff4{
  border: solid 5px white;
  height: auto;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 200px;
}



.ff5{
  border: solid 5px white;
  height: auto;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: px;
}


.ff6{
  border: solid 5px white;
  height: auto;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: px;
}


.ff7{
  border: solid 5px white;
  height: auto;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 620px;
}

.ds-img{
text-align: center;
}